* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $roboto-family;
}

html,
body,
main {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
  min-height: 320px;
}

img {
  display: block;
  object-fit: cover;

  &:empty {
    background-color: grey;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.primary-text {
  color: $primary-color;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  background-color: $primary-color;
  color: $white-color;
  line-height: 44px;
  z-index: 4000;
  transition: ease-in 0.1s;
  padding: 0 20px;

  &:focus {
    top: 0;
  }
}

.h-3 {
  font-weight: 500;
  font-family: $poppins-family;
}

.badge {
  background-color: $primary-color;
  border-radius: 10px;
  color: $white-color;
  padding: 2px 10px;
  font-size: 12px;
}

.btn-primary {
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: #ec9900;
  }
}

footer {
  flex-shrink: 0;
  background-color: $primary-color;
  color: $white-color;
  line-height: $footer-height;
  text-align: center;
}
