#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;

  div {
    width: 80%;

    h2 {
      font-family: $poppins-family;
      color: $primary-color;
      font-size: 32px;
    }

    p {
      font-size: 24px;
    }

    a {
      font-style: italic;
    }
  }
}
