#popular-menus {
  padding: 36px 0;
  background-color: $grey-color;
}

.menu-thumbnail {
  max-height: 170px;
  object-fit: cover;
}

.menu-title {
  font-size: 14px;
  font-family: $poppins-family;
  margin-bottom: 4px;

  a {
    color: $dark-color;
    &:hover {
      color: $primary-color;
    }
  }
}

.menu-info {
  margin-top: 4px;

  label {
    color: $dark-color;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
}

.menu-info__rating {
  margin-right: 10px;
}
.menu-info__rating .material-icons {
  color: $primary-color;
  font-size: 16px;
}
.menu-info__place .material-icons {
  font-size: 16px;
  color: $dark-color;
  opacity: 0.6;
}
