<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Foody Apps" />
    <meta name="keywords" content="Foody, Foody Apps, Restaurant, Food" />
    <meta name="author" content="Ikhsan Fauji" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foody | Home</title>
    <link rel="shortcut icon" href="./images/icons/icon.png" />

    <meta name="theme-color" content="#fbc914" />
    <!-- The manifest link will be generated and embed by webpack plugin -->
    <!-- IOS -->
    <meta name="apple-mobile-web-app-status-bar" content="yes" />
    <link rel="apple-touch-icon" href="./images/icons/app-icon.png" />
  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header>
      <nav-bar></nav-bar>
      <div id="header-content">
        <hero-breadcrumb></hero-breadcrumb>
      </div>
    </header>
    <main id="main-content">
      <skeleton-loader></skeleton-loader>
    </main>
    <footer>
      <div class="footer-copyright">
        <div class="container">Copyright © 2020 - Foody</div>
      </div>
    </footer>
    <div id="alert-container"></div>
  </body>
</html>
