<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Foody Apps" />
    <meta name="keywords" content="Foody, Foody Apps, Restaurant, Food" />
    <meta name="author" content="Ikhsan Fauji" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foody | Home</title>
    <link rel="shortcut icon" href="./images/icons/icon.png" />
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header>
      <div id="menu-bar">
        <div class="container">
          <div class="brand-logo">
            <button id="drawer-menu">
              <span class="material-icons"> menu </span>
            </button>
            <a href="/">Foody</a>
          </div>

          <nav id="drawer">
            <ul class="nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Favourite</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://github.com/ikhsan-fauji"
                  target="_blank"
                  rel="noreferrer"
                  >About Us</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="hero">
        <div class="hero-gradient"></div>
        <img
          data-src="./images/heros/hero-image_1.jpg"
          alt="Hero Image"
          class="hero-image lazyload"
        />
        <div class="hero-content container">
          <p class="hero-tagline" tabindex="0">
            Discover the great places to eat around you!
          </p>
          <h1 class="hero-title" tabindex="0">
            Find your favourite <span class="primary-text">Resto</span> and
            <span class="primary-text">Food</span>.
          </h1>
          <form action="#" class="search-form">
            <div class="left-group">
              <div class="form-icon left-icon">
                <span class="material-icons">place</span>
              </div>
              <div class="form-input">
                <select name="city" id="city-options" aria-label="City options">
                  <option value="">Select City...</option>
                </select>
              </div>
            </div>
            <div class="right-group">
              <div class="form-input">
                <input
                  type="text"
                  aria-label="Search input for restaurant or food"
                  placeholder="Search here..."
                />
              </div>
              <div class="form-icon">
                <button class="search-button" type="button">
                  <span class="material-icons">search</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
    <main id="main-content">
      <section id="explore">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title" tabindex="0">Explore Restaurant</h2>
          </div>
          <div class="restaurants"></div>
        </div>
      </section>

      <section id="popular-menus">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title" tabindex="0">Popular Menus</h2>
          </div>
          <div class="menus"></div>
        </div>
      </section>

      <section id="discover-restaurant">
        <div class="container discover">
          <div class="discover-banner">
            <img
              class="lazyload"
              data-src="./images/heros/hero-image_1.jpg"
              alt="Chef in the kitchen"
            />
          </div>
          <div class="discover-content">
            <h1 class="discover-title" tabindex="0">
              Connect <span class="primary-text">With</span> Us
            </h1>

            <p class="discover-text" tabindex="0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est
              dolor, faucibus et iaculis a, lacinia eu mi. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Cras fringilla ullamcorper dui
              vel ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Nulla pulvinar posuere pulvinar.
            </p>

            <button class="discover-button" type="button">Discover Here</button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-copyright">
        <div class="container">Copyright © 2020 - Foody</div>
      </div>
    </footer>
  </body>
</html>
