<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Foody Apps" />
    <meta name="keywords" content="Foody, Foody Apps, Restaurant, Food" />
    <meta name="author" content="Ikhsan Fauji" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foody | Home</title>
  </head>
  <body>
    <header>
      <div id="menu-bar"></div>
      <section id="jumbotron">
        <div id="hero">
          <div class="hero-gradient"></div>
          <div class="hero-image">
            <img src="./images/heros/hero-image_1.jpg" alt="Hero" />
          </div>
          <div class="hero-content">
            <p>Discover the great places to eat around you!</p>
            <h1>
              Find your favourite <span class="primary-text">Resto</span> and
              <span class="primary-text">Food</span>.
            </h1>

            <div class="search-form"></div>
          </div>
        </div>
      </section>
    </header>
    <main>
      <section id="explore-restaurant">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title">Explore Restaurant</h2>
          </div>
          <div class="restaurants"></div>
        </div>
      </section>
      <section id="popular-menus">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title">PopularMenus</h2>
          </div>
        </div>
      </section>
      <section id="discover"></section>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">Copyright © 2014 - Foody</div>
      </div>
    </footer>
  </body>
</html>
