@media screen and (max-width: 575.9px) {
  .section-header {
    margin-bottom: 5px;
  }

  .section-title {
    font-size: 18px;

    &::after {
      margin-top: 6px !important;
    }
  }

  #menu-bar {
    overflow: hidden;
  }

  .brand-logo {
    display: flex;
  }

  #drawer-menu {
    align-self: flex-start;

    span {
      top: 2px;
    }
  }

  .brand-link {
    margin-left: 10px;
  }

  .hero-content {
    padding: 0 20px;
    padding-top: 32px;

    .hero-tagline {
      line-height: 30px;
    }
  }

  .search-form {
    width: 90% !important;
    height: 38px !important;
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .left-group {
    display: none !important;
    grid-template-columns: 2fr 10fr;
    height: 100%;
  }

  .right-group {
    .form-icon {
      button {
        padding-top: 5px;
      }
    }
    .form-input {
      input {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
      }
    }
  }

  .restaurant {
    .restaurant-thumbnail {
      height: 135px !important;
    }
  }

  #discover-restaurant {
    .discover {
      .discover-title {
        font-size: 18px;
      }
    }
  }

  #restaurant-content {
    .container {
      .restaurant-image {
        height: 220px;
      }

      .restaurant-menus {
        grid-template-columns: 1fr;
      }
    }
  }

  .review-form {
    width: 100%;
  }

  .like {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 320.9px) {
  .hero .hero-content .hero-tagline {
    font-size: 12px !important;
  }

  .restaurants,
  .menus {
    padding: 22px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
