@media screen and (min-width: 768px) {
  nav {
    width: 320px;
    left: -325px;
  }

  .hero {
    height: 322px;

    .hero-gradient,
    .hero-image {
      height: 322px;
    }

    .hero-content {
      padding-top: 90px;

      .hero-tagline {
        font-size: 16px !important;
      }
      .hero-title {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }
  }

  .restaurants,
  .menus {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search-form {
  grid-template-columns: 4fr 8fr;
  width: 520px;
  height: 44px;

  .left-group {
    display: grid;
  }

  .right-group .form-input input {
    border-radius: unset;
  }
}
