@import 'splitted/global';
@import 'splitted/navbar';
@import 'splitted/hero';
@import 'splitted/breadcrumb';
@import 'splitted/card';
@import 'splitted/restaurant';
@import 'splitted/restaurant_detail';
@import 'splitted/alert';
@import 'splitted/not_found';
@import 'splitted/popular_menu';

.section-header {
  margin-bottom: 20px;
}

.section-title {
  color: $dark-color;
  font-weight: 500;
  font-size: 16px;

  &::after {
    content: '';
    height: 3px;
    width: 90px;
    display: block;
    background-color: $primary-color;
  }
}

#home,
#explore,
#favorite {
  padding: 36px 0;
}

.restaurants,
.menus {
  padding: 22px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#discover-restaurant {
  padding: 36px 0;

  .discover {
    display: grid;
    grid-template-columns: 1fr;

    .discover-banner {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .discover-content {
      padding: 20px 10px;
    }

    .discover-title {
      color: $dark-color;
      font-size: 24px;
      font-weight: bold;
    }

    .discover-text {
      text-align: left;
      color: $dark-color;
      margin: 15px 0;
    }

    .discover-button {
      background-color: $primary-color;
      border: none;
      text-align: center;
      text-transform: uppercase;
      color: $white-color;
      line-height: 44px;
      padding: 0 15px;
      border-radius: 5px;

      &:hover {
        background-color: $white-color;
        color: $primary-color;
        border: 1px solid $primary-color;
        cursor: pointer;
        line-height: 42px;
      }
    }
  }
}

.show {
  right: 5px !important;
  transition: ease-in 0.3s;
}

.not-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 250px;

  div {
    width: 90%;
  }
}
