* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $roboto-family;
}

html,
body,
main {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
  min-height: 320px;
}

img {
  display: block;
  object-fit: cover !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.primary-text {
  color: $primary-color;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  background-color: $primary-color;
  color: $white-color;
  line-height: 44px;
  z-index: 4000;
  transition: ease-in 0.1s;
  padding: 0 20px;

  &:focus {
    top: 0;
  }
}

footer {
  flex-shrink: 0;
  background-color: $primary-color;
  color: $white-color;
  line-height: $footer-height;
  text-align: center;
}

#menu-bar {
  background-color: $white-color;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 3000;
}

.brand-logo {
  line-height: 72px;
  font-size: 34px;
  font-weight: 600;
  width: 100%;

  a {
    color: $primary-color;
  }
}

.open {
  left: 0;
  transition: ease-in 0.3s;
}

#drawer-menu {
  background-color: transparent;
  border: none;
  color: $primary-color;
  margin-top: 12px;
  width: 44px;
  height: 44px;

  span {
    font-size: 44px;
    position: relative;
    top: 9px;
  }
}

nav {
  position: fixed;
  background-color: $white-color;
  left: -225px;
  top: 0;
  height: 100vh;
  width: 220px;
  transition: ease-out 0.1s;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  z-index: 3000;

  .nav {
    .nav-item {
      display: block;
      text-align: center;
      line-height: 72px;
      transition: ease-in 2s;

      &:hover::after {
        content: '';
        display: block;
        position: relative;
        height: 2px;
        top: -20px;
        width: 65%;
        margin: 0 auto;
        background-color: $primary-color;
      }

      .nav-link {
        display: block;
        color: $dark-color;
      }
    }

    .active::after {
      content: '';
      display: block;
      position: relative;
      height: 2px;
      top: -20px;
      width: 65%;
      margin: 0 auto;
      background-color: $primary-color;
    }
  }
}

.hero {
  height: 222px;
  margin-top: 72px;

  .hero-gradient,
  .hero-image {
    top: 72px;
    width: 100%;
    height: 222px;
    position: absolute;
  }

  .hero-gradient {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4)
    );
    z-index: -4;
  }

  .hero-image {
    z-index: -6;
  }

  .hero-content {
    color: $white-color;
    text-align: center;
    line-height: 32px;

    .hero-tagline {
      font-size: 14px;
    }

    .hero-title {
      font-size: 26px;
      line-height: 32px !important;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
}

.search-form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.left-group {
  grid-template-columns: 2fr 10fr;
  height: 100%;

  .form-icon {
    width: 100%;
    color: rgb(202, 39, 39);
    background-color: $white-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    span {
      padding-top: 12px;
    }
  }
  .form-input {
    width: auto;

    select {
      height: 100%;
      width: 100%;
      padding: 10px;
      border: none;
    }
  }
}

.right-group {
  display: grid;
  grid-template-columns: 10fr 2fr;
  height: 100%;

  .form-icon {
    width: 100%;
    height: 100%;
    color: rgb(202, 39, 39);
    background-color: $white-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    button {
      height: 100%;
      width: 100%;
      min-width: 44px;
      color: $white-color;
      background-color: $primary-color;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:hover {
        color: $white-color;
        background-color: #df9100;
      }
    }
  }
  .form-input {
    width: auto;

    input {
      height: 100%;
      width: 100%;
      padding: 10px;
      border: none;
    }
  }
}

#breadcrumb {
  background-image: url('/images/heros/breadcrumb.webp');
  height: 220px;

  &::after {
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 220px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4)
    );
  }

  .container .breadcrumb-header {
    position: relative;
    bottom: -130px;
    text-align: center;
    z-index: 1;

    .breadcrumb-title {
      color: $white-color;
      text-transform: uppercase;
      font-size: 24px;

      &::after {
        content: '';
        height: 3px;
        width: 90px;
        display: block;
        background-color: $primary-color;
        margin: 0 auto;
        margin-top: 10px;
      }
    }
  }
}

.section-header {
  margin-bottom: 20px;
}

.section-title {
  color: $dark-color;
  font-weight: 500;

  &::after {
    content: '';
    height: 3px;
    width: 90px;
    display: block;
    background-color: $primary-color;
  }
}

.section-title {
  font-size: 16px;
}

#home,
#explore,
#favorite {
  padding: 36px 0;
}

.restaurants,
.menus {
  padding: 22px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: $white-color;
  border-radius: 5px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);

  .card-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
  }

  .card-body {
    background-color: $white-color;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: -10px;

    .card-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}

.restaurant {
  min-height: 172px;

  .restaurant-thumbnail {
    max-height: 170px !important;
    object-fit: cover;
  }

  .restaurant-place {
    position: absolute;
    margin-top: 10px;
    color: $white-color;
    font-size: 10px;
    line-height: 30px;
    background-color: $primary-color;
    padding: 0 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .material-icons {
      font-size: 12px;
      position: relative;
      bottom: -2px;
      margin-right: 5px;
    }
  }

  .restaurant-content {
    .restaurant-title {
      font-size: 14px;
      font-family: $poppins-family;
      margin-bottom: 4px;

      a {
        color: $dark-color;
        &:hover {
          color: $primary-color;
        }
      }
    }

    .restaurant-rating {
      display: inline;
      font-size: 10px;

      .material-icons {
        color: $primary-color;
        font-size: 16px;
      }

      label {
        margin-left: 5px;
        position: relative;
        top: -2px;
      }
    }

    .restaurant-description {
      clear: both;
      font-size: 12px;
      line-height: 14px;
      margin-top: 5px;
    }
  }
}

#popular-menus {
  padding: 36px 0;
  background-color: $grey-color;
}

.menu {
  .menu-thumbnail {
    max-height: 170px;
    object-fit: cover;
  }
}
.menu-content {
  .menu-title {
    font-size: 14px;
    font-family: $poppins-family;
    margin-bottom: 4px;

    a {
      color: $dark-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .menu-info {
    margin-top: 4px;

    label {
      color: $dark-color;
      font-size: 12px;
      position: relative;
      top: -2px;
    }
    .menu-info__rating {
      margin-right: 10px;
    }
    .menu-info__rating .material-icons {
      color: $primary-color;
      font-size: 16px;
    }
    .menu-info__place .material-icons {
      font-size: 16px;
      color: $dark-color;
      opacity: 0.6;
    }
  }
}

#discover-restaurant {
  padding: 36px 0;

  .discover {
    display: grid;
    grid-template-columns: 1fr;

    .discover-banner {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .discover-content {
      padding: 20px 10px;
    }

    .discover-title {
      color: $dark-color;
      font-size: 24px;
      font-weight: bold;
    }

    .discover-text {
      text-align: left;
      color: $dark-color;
      margin: 15px 0;
    }

    .discover-button {
      background-color: $primary-color;
      border: none;
      text-align: center;
      text-transform: uppercase;
      color: $white-color;
      line-height: 44px;
      padding: 0 15px;
      border-radius: 5px;

      &:hover {
        background-color: $white-color;
        color: $primary-color;
        border: 1px solid $primary-color;
        cursor: pointer;
        line-height: 42px;
      }
    }
  }
}
.h-3 {
  font-weight: 500;
  font-family: $poppins-family;
}

.card-outline {
  border: 1px solid $primary-color;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;

  .co-title {
    font-weight: 500;
    font-family: $poppins-family;
  }
}

.badge {
  background-color: $primary-color;
  border-radius: 10px;
  color: $white-color;
  padding: 2px 10px;
  font-size: 12px;
}

#restaurant-content {
  margin: 30px 0;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .restaurant-image {
      width: 100%;
      height: 450px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .restaurant-name {
      font-family: $poppins-family;
      font-size: 26px;
      font-weight: 500;
    }

    .restaurant-info {
      display: inline;
      font-size: 16px;

      .material-icons {
        color: $primary-color;
        font-size: 18px;
      }

      label {
        margin-right: 5px;
      }
    }

    .restaurant-description {
      margin: 15px 0;
      line-height: 24px !important;
    }

    .restaurant-menus {
      display: grid;
      grid-template-columns: repeat(2, 6fr);
      gap: 30px;
    }

    .restaurant-review {
      margin-top: 20px;
    }
  }
}

.list-menus {
  list-style-type: none;

  .menu-item:nth-child(1) {
    border-top: 1px solid rgba(235, 163, 7, 0.5);
  }
  .menu-item {
    line-height: 40px;
    border-bottom: 1px solid rgba(235, 163, 7, 0.5);
  }
}

.reviews {
  list-style-type: none;

  .review-item {
    margin: 15px 0;

    .reviewer {
      font-weight: 500;
      font-family: $poppins-family;
    }

    .review-date {
      margin: 8px 0;
      font-size: 14px;
      opacity: 0.6;
    }

    .review-detail {
      margin-top: 5px;
    }
  }
}

.review-form {
  width: 50%;

  input,
  textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: #ec9900;
  }
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: rgb(247, 73, 73);
  color: $white-color;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#alert-container {
  position: fixed;
  bottom: 10px;
  right: -300px;
  z-index: 3500 !important;

  .alert {
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    min-width: 200px;

    p {
      font-size: 14px;
    }
  }

  .success {
    background-color: rgb(5, 152, 113);
  }

  .error {
    background-color: rgb(198, 15, 15);
  }
}

.show {
  right: 5px !important;
  transition: ease-in 0.3s;
}

.not-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 250px;

  div {
    width: 90%;
  }
}

#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;

  div {
    width: 80%;

    h2 {
      font-family: $poppins-family;
      color: $primary-color;
      font-size: 32px;
    }

    p {
      font-size: 24px;
    }

    a {
      font-style: italic;
    }
  }
}
