* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $roboto-family;
  scroll-behavior: smooth;
}

html,
body,
main {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

img {
  display: block;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.primary-text {
  color: $primary-color;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  background-color: $primary-color;
  color: $white-color;
  line-height: 44px;
  z-index: 4000;
  transition: ease-in 0.1s;
  padding: 0 20px;

  &:focus {
    top: 0;
  }
}

.section-title {
  color: $dark-color;
  font-weight: 500;
  // text-align: center;

  &::after {
    content: '';
    height: 2px;
    width: 90px;
    display: block;
    margin-top: 5px;
    background-color: $primary-color;
    // margin: 0 auto;
  }
}

footer {
  flex-shrink: 0;
  background-color: $primary-color;
  color: $white-color;
  line-height: $footer-height;
  text-align: center;
}
