@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// color pallet
$primary-color: #ffa600;
$secondary-color: #fbc914;
$tertiary-color: #f8f9fa;
$fourthly-color: #2f2f2f;
$fifthly-color: #ffffff;

$white-color: $fifthly-color;
$grey-color: $tertiary-color;
$dark-color: $fourthly-color;
