// font family
$poppins-family: 'Poppins', sans-serif;
$roboto-family: 'Roboto', sans-serif;

$hero-height: 640px;
$footer-height: 115px;
$explore-resto-height: 699px;
$popular-menus-height: 564px;
$discover-height: 466px;

$section-title-size: 25px;
$title-size: 16px;
